*.root
*.png
bin/
data_back/
graph_back/
graph_back2/
data/
root_data_source/
total*.txt
nohup.out
.vscode/
build/
.cache/
log/
err/
out/
condor/run[a-z]*.sh
condor/runem[0-9]*.sh
condor/submit[0-9]*.cmd
condor/submit[a-z]*.cmd
condor/log/
condor/err/
condor/out/
args_exec.json
benchmark/
test/
condor/config_*.json
condor/run[e|mu|pi][+|-]*.sh
condor/submit[e|mu|pi][+|-]*.cmd
condor/run_*.sh
condor/submit_*.cmd
.xmake/
lib64/
python/pyHough/__pycache__/
setup.sh
