*.root
*.png
bin/
data_back/
graph_back/
graph_back2/
data/
root_data_source/
total*.txt
nohup.out
.vscode/
build/
.cache/
log/
err/
out/
condor/run[a-z]*.sh
condor/runem[0-9]*.sh
condor/submit[0-9]*.cmd
condor/submit[a-z]*.cmd
condor/log/
condor/err/
condor/out/
